body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr {
  border-style: none;
  border-color: rgb(224, 224, 224);
  border-top-style: dotted;
  border-width: 5px;
  width: 4%;
  margin: auto;
}

h1 {
  font-size: 5.625rem; /* 100% = 16px 90px/16 = 5.625, 100% * 5.625=562.5% eq to 90px, 1em = 16px*/
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  line-height: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-size: 2.5rem; /*40px*/
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  text-decoration: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

.profile {
  font-weight: bold;
  width: 50%;
  margin: auto;
}

.top-container {
  background-color: #e4f9f5;

  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
}

.bottom-container {
  background-color: #66bfbf;
  margin-bottom: 0;
  padding-top: 10px;
}

.contact-me {
  margin: 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  font-weight: bold;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.icon {
  width: 25%;
}

.programming {
  float: left;
  margin-right: 30px;
}

.hardware {
  float: right;
  margin-left: 30px;
}

.get-in-touch-description {
  font-weight: bold;
  width: 30%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;

  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  display: block;
  width: 110px;
  margin: 80px auto 80px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copy-rights {
  margin-bottom: 0;
  padding: 20px 0;
  color: white;
  font-size: 0.8em;
}

/*
.code-skill-description {
  clear: left;
}

.hardware-skill-descripton {
  clear: right;
}
*/

.mountain-imge {
  width: 100%;
}

@media (max-width: 1000px) {
  .cloud-image {
    width: 30%;
  }
  .bottom-cloud {
    bottom: 200px;
  }
  .get-in-touch-description {
    width: 100%;
  }
}
